@import url("/assets/css/global.css");


#titulo {
    font-family: sans-serif;
    color: #2a2a2c;
    margin-left: 17%;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #2a2a2c;
    margin-left: 10%;
} 

#check{
    display: inline-block;
}
.container-fluid{
    margin-top: 20px;
    width: 50em !important;
    height: 40em;
    border: 1px solid rgb(91, 89, 89);
    border-radius: 20px;
    background: conic-gradient(#6b6a6a, #ffffff);
    opacity: 0.7;
    aspect-ratio: 32/18;
}
.fundo{
    background-image: url(/assets/img/fundo.jpg);
}
/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #2a2a2c;
    border-radius: 5px;
    margin: auto;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "row" */
.row {
    margin-bottom: 1em;
}

/* Elementos de classe "row" de tag <label> */
.row label {
    margin-bottom: 0.2em;
    color: #2a2a2c;
    display: block;
}

/* Elementos de classe "row" ou "grupo" de tag <fieldset> */
.grupo .row {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "row" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.row input[type="text"], .row input[type="email"], .row select, .row textarea {
    padding: 0.2em;
    border: 1px solid #2a2a2c;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elementos de classe "row" de tag <select> e <option>*/
.row select option {
    padding-right: 1em;
}

/* Elemento de classe "row" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.row input:focus, .row select:focus, .row textarea:focus {
    background: #e8e8ee;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #a5a5a5;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #646466;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}
input[type=checkbox]{
    accent-color: rgb(73, 72, 72);
}